<ons-row class="wizard" align="center">
  <ons-col>
    <div class="step-item complete">
      <ons-icon icon="fa-user"></ons-icon>
    </div>
  </ons-col>
  <ons-col>
    <div class="step-item active">
      <ons-icon icon="fa-money"></ons-icon>
    </div>
  </ons-col>
  <ons-col>
    <div class="step-item active">
      <ons-icon icon="fa-users"></ons-icon>
    </div>
  </ons-col>
  <ons-col>
    <div class="step-item">
      <ons-icon icon="fa-file-text-o"></ons-icon>
    </div>
  </ons-col>
</ons-row>