.dl-autocomplete-text-field {position: relative; background: transparent;}
.dl-autocomplete-background {position: absolute; color: #999; top: 0; left: 0;}
.dl-autocomplete-wrapper {position: relative;}
.outgo-form .dl-autocomplete-wrapper {width: 100%;}
.outgo-form input {width: 100%; margin-top: 4px;}
.outgo-form textarea {height: 80px;}

ons-carousel {
  width: 25%;
  overflow: visible !important;
  position: relative;
}
.list-action-item {
  width: 400% !important;
  xtransform: none !important; /* remove the x to stop transition of the first item */
}
.list-action-menu {
    background-color: #afafaf;
  width:100% !important;
  margin-left: 300%;
}